@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  
}
 

.color-Navy{
   padding-left:0;
    padding-top: 60px;
    color:#090761;
    font-size: 1.2rem;
}
.postion-text{
    position: absolute;
    top:0;
   left:13.5%;
}
.color-orange{
    color:#FCAF17;
    
}
.logo1-width{
    width:15%;;
    height:25%
 }
 .text-gradient  {
  background: linear-gradient(to right, #ff8a00 0%, #dd4c4f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
   font-size:2.6rem;
}
.nav-style-home{
    background: linear-gradient(to right, #ff8a00 0%, #dd4c4f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size:1.2rem;
}
 

 
.nav-style{
    text-decoration: none;
   color:#090761; 
  font-size:1.2rem;
}
.nav-style:hover{
     
    color:green;
}

 #light {
  background-color: #f3ebf6;
}
#light .main{
    background-color: #f3ebf6;
    
}
#light .text-color-change{
    color:#090761;
}
#dark  .text-color-change{
    color:white;
}




 #dark {
  background-color:#090761;
}
.main{
     
   background: linear-gradient(to right, #ff8a00 0%, #dd4c4f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;;
}
 
#dark .btn-bg{
    background-color: mediumvioletred;
     color:white;
   
    font-size: 1rem;
     
}
#light .btn-bg{
     background-color:#090761;
    
    color:#090761;
    color:white;
    font-size: 1rem;
     
}
 #dark .btn-bg:hover{
     background-color: #F28C28;
    
     
    color:#090761;
      
     
}
 #light .btn-bg:hover{
     background-color: #F28C28;
     
     
}
.banner-section{
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
 
/* @media screen and (max-width:575px) {
    .postion-text{
     position: absolute;
    top:0;
    margin-top: 0.3rem;
    
   left:4.7rem;
   
}
 


} */
