body{
    margin:0;
    padding:0;
}

.bg-register{
    background-image: url('../../../../../assets/images/register2.webp');
  
   
    
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
}
 @media screen and (max-width:575px) {
    .bg-register{
        height:100vh;
    }
 }
 @media screen and (min-width:576px) and (max-width:767px) {
    .bg-register{
        height:100vh;
    }
 }
 @media screen and (min-width:768px) and (max-width:991px) {
     .bg-register{
        height:100vh;
    }
 }
 
 